.flex-container{display:flex;}
nav {width:100%;}
nav ul {margin:0px 5px 0px 0px;}
.active {letter-spacing: 1px; background-color:gray;
}
#hamburger {
display: none;
}
li#proj:hover {max-height:20px;}
nav ul {display:flex;}

nav ul li {
  float:left;  
  list-style:none;
 position:relative;
  border: 1px solid grey; 
  width: 115px;
  list-style-type: none;
  padding: 15px 7px;
  margin: 15px 7px 15px 7px;
  background-color: #80ae6a;
  text-align: center;
  }

nav ul li a {
  color:#ffffff;
  text-decoration:none;
  font-size:medium; 
  display:flex;}

nav ul li ul {
  display:none;
/* position:absolute;*/
  color:#ffffff;
  margin: 18px 0px 0px 0px;
  padding: 0px;}

nav ul li ul li {
  border-radius: 5px;
  margin: 2px;
  padding: 10px 8px;
  right: 10px;}

nav ul li:hover ul {display:flex;flex-direction:column;}
  
nav ul li ul li:hover {
  color: #ffffff;
  background-color: gray;}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
nav a {
text-decoration: none;
display: flex;
margin: 2px;
}
/*format all navigation <a> elements*/

nav a:hover, nav a:focus {
background-color: navy;
}

/*position sub-menu or drop-down*/
nav ul>li ul {
position: absolute;
top: 100%;
display: none;
}
nav ul ul li {
float:none;
}
/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
display: block;
}

@media only screen and (min-width: 951px) {
  nav {min-height: 60px;border-bottom: 2px solid green;margin-bottom:25px;}
.flex-container{flex-direction:row;flex-wrap:nowrap;float:right;width:100%;}
}

@media only screen and (min-width: 641px) and (max-width: 950px) {
.flex-container{flex-direction:row;flex-wrap:wrap;float:inline-start;margin-top:5px;margin-bottom:10px;}
}
nav {height:auto;}
nav ul li {
 
 position:relative;
   padding: 10px 4px;
  margin: 5px;

  }
  li#proj:hover #mobileHide {
display: flex;margin:auto;
}
nav ul li ul li {
    border-radius: 0px;
    margin: 3px 0px 0px 0px;
    padding: 5px;
    right: 6px;
}



@media only screen and (max-width: 640px) {
.flex-container {flex-direction:column;width:80%;margin-bottom:20px;}
nav:hover  #mobileHide {display: none;}
nav:active #mobileHide {display: none;}
li {display:none;}
nav:hover li {display:flex;width:100%;margin:2px 13px 2px 13px;}
 nav:active li {display:flex;width:100%;margin:2px 13px 2px 13px;}
#hamburger {
display: block;
float: none;
font-size: 20px;
background-color:black;
color:white;
padding:5px;
}
li#proj:hover {margin-bottom:115px;}
li#proj:hover #mobileHide {
display: flex;width:50%;margin:auto;padding:5px;
}
nav ul li ul li {height:20px;}
  
  
nav {width:100%;height:auto;border-bottom:none}
nav ul li {
  position:relative;
  border: 1px solid grey; 
  width: 115px;
  padding: 10px 5px;
  margin: 5px;
  background-color: #80ae6a;
  text-align: center;
  }
nav ul {display:flex;flex-direction:column;}
}
