nav {width:100%;height: 100px;}
nav ul {float:right;}
nav ul li {
  float:left;  
  list-style:none;
  position:relative;
  border: 1px solid grey; 
  width: 115px;
  list-style-type: none;
  padding: 15px;
  margin-top: 0;
  margin-left: 10px;
  background-color: #80ae6a;
  text-align: center;
  }


nav ul li ul {
  display:none;
  position: absolute;
  color: #ffffff;
  padding:5px;
  border: radius 5px;}

nav ul li:hover ul {display:block;}
  
nav ul li ul li:hover {
  color: #ffffff;
  background-color: gray;}
