nav ul li {
  float:right;  
  list-style:none;
  position:relative;
  display: block;
  border: 1px solid grey; 
  width: 115px;
  list-style-type: none;
  padding: 15px;
  margin-top: 0;
  margin-left: 10px;
  background-color: #80ae6a;   
  }

nav ul li a {
  text-align:center;
  color:#ffffff;
  text-decoration:none;
  font-size:large;}
nav ul li ul {display:none; position:absolute;}