nav {width:100%;height: 85px;border-bottom: 2px solid green;}
nav ul {float:right;}
nav ul li a {
  color:#ffffff;
  text-decoration:none;
  font-size:large;
  display:block;}
nav ul li {
  float:left;  
  list-style:none;
  position:relative;
  border: 1px solid grey; 
  width: 115px;
  list-style-type: none;
  padding: 15px 7px;
  margin: 15px 7px 15px 7px;
    background-color: #80ae6a;
  text-align: center;
  }

nav ul li ul {
  display:none;
  position: absolute;
  color:#ffffff;
  margin: 18px 0px 0px 0px;
  padding: 0px;}

nav ul li ul li {
  border-radius: 5px;
  margin: 2px;
  padding: 10px 8px;
  right: 10px;}

nav ul li:hover ul {display:block;}
  
nav ul li ul li:hover {
  color: #ffffff;
  background-color: gray;}
