h1 {color:#003964;font-family:Georgia, 'Times New Roman', Times, serif}
body {background-color: #ffffff;
font: #000000; font-family:Arial, Helvetica, sans-serif} 
footer {background-color:#f1f1f1;
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
height:40px;}