@font-face { 
font-family: Raleway;
src: url("Raleway-VariableFont_wght.ttf");
}

body {background-color: #ffffff;
color: #000000; font-family:Arial, Helvetica, sans-serif;padding:0px;
 height: 100vh;
  display: flex;
  flex-direction: column;
}

body > * { flex: 0 0 auto; }
header {margin:5px 50px 0px 50px;}
main {
  margin:0px 50px 5px 50px;
}
iframe {border:0px;}
footer {
 margin-top:auto;
    width: 100%;
  text-align: center;
padding-top:25px;
background-image:url("images/footer.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height:50px;
}
.enlarge {transition:transform 1s;}
.enlarge:hover {transform:rotate(30deg) scale(2);}
.icon {text-decoration:none;}




/*desktop settings*/
@media only screen and (min-width: 951px) {
h1 {color:#003964;font-family:Georgia, 'Times New Roman', Times, serif;margin:25px 0px 10px 25px;font-size:36px;}
h2 {font-family:Raleway;margin:12px 0px;font-size:30px;}
h3 {font-family:Raleway;margin:auto;}

.responsive-two-columns {
    display:flex;
    flex-wrap:wrap;}
.responsive-two-columns > * {
        width:calc(80% / 2);    
    border: black solid 1px;
    margin: 1rem;
    padding:1rem;
    }

.wrapper {
  display:grid;
  width:90%;
  grid-gap:0px 10px;
  grid-template-columns: 45% 25% 30%;
  grid-template-rows: auto auto auto auto;
  margin-top:10px;margin-bottom:5px;
  }
.a {grid-column: 1 / 3;  grid-row: 1; padding-right:40px;}
.c {grid-column: 2;  grid-row: 2;}
.pic {grid-column: 3;  grid-row: 1 / 2;}
.vid {grid-column: 1; grid-row:2;}
.d {grid-column: 1 / 4; grid-row:4;
text-align:center;}
.b {grid-column: 1 / 3;  grid-row: 2;
padding-right:40px;}
}



/*tablet settings*/
@media only screen and (min-width: 641px) and (max-width: 950px) {
h1 {color:#003964;font-family:Georgia, 'Times New Roman', Times, serif;margin:25px 0px 10px 25px;font-size:36px;}
h2 {font-family:Raleway;margin:12px 0px;font-size:24px;}
h3 {font-family:Raleway;margin:auto;font-size:18px;}

      body {font-size: 16px;  }
      header {margin:10px 50px 0px 50px;}    

/* columns */
.responsive-two-columns > * {
     width:100%;
   }

   .wrapper {
  display:grid;
  width:90%;
  grid-gap:0px 10px;
  grid-template-columns: 67% 33%;
  grid-template-rows: auto auto auto auto;
  margin-top:10px;margin-bottom:5px;
  }
.a {grid-column: 1 / 2;  grid-row: 1; padding-right:40px;}
.c {grid-column: 2;  grid-row: 2;}
.pic {grid-column: 2;  grid-row: 1 / 2;}
.vid {grid-column: 1; grid-row:2;}
.d {grid-column: 1 / 3; grid-row:4;
text-align:center;}
.b {grid-column: 1 / 3;  grid-row: 2;
padding-right:40px;}
  .portrait {min-width:250px;max-width:50%;}
}






/*mobile settings*/
@media only screen and (max-width: 640px) {
h1 {color:#003964;font-family:Georgia, 'Times New Roman', Times, serif;margin:25px 0px 10px 25px;font-size:24px;}
h2 {font-family:Raleway;margin:12px 0px;font-size:20px;}
h3 {font-family:Raleway;margin:auto;font-size:16px;}
body {font-size: 16px;  }

.responsive-two-columns > * {
        width:100%;
        min-width:250px;
     }

.wrapper {    
  display:grid;
  grid-gap:10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.box {padding:0px 10px 0px 10px;}
.a {grid-column: 1;
  grid-row: 2;}
.b {grid-column: 1;
  grid-row: 3;}
.c {grid-column: 1;
  grid-row: 4;}
.pic {grid-column: 1;
  grid-row: 1;}
.vid {grid-column:1;grid-row:5;}
.d {grid-column: 1;
grid-row:6;
text-align:center;}
  
  .portrait {min-width:200px;max-width:50%;}
div#reflection {margin:auto;width:100%;}
}

/*print settings*/
@media print {
  header, nav, img, a#resume, .vid {
    display: none;
  }
     body, footer {
      font-family: Georgia, serif;
       font-size: 12pt;
       line-height: 24pt; background: none;
       width: 100%;
       border: none;
       padding: 0;
       margin: 0;
       color: #000;
     }
     h1,h2,h3 {color:black;font-family:Georgia,serif;}
          h1 {font-size:20px;margin:10px 0px;}
          h2,h3 {font-size:18px;margin:0px;}
   @page {margin:1in;}
   main {margin:0px;}
    .wrapper {    
  display:block;
  }
.box {padding:0px;margin:0px;}
}