h1 {color:#000066;}
ul {
display: inline-block;
border: 3px dotted magenta;
width: 150px;
list-style-type: none;
padding: 15px 15px 15px 25px;
margin-top: 0;
margin-left: 10px;
background-color: #003964; }
li {
  display: inline;
}